h1 {color:purple;margin: 2% 37%;}

	#cuadro {background-color:#AFAEAE; border: 3px solid grey ; margin: 3% 7% ; font-family:Corier new; font-size:20px; }


	p{border: 2px solid grey; margin-left:2%; margin-right:2%; text-align:justify;padding:3px;background-color:#E2D4EA;}

h4 {color:purple;margin: 2% 37%;}
body {background-color:#C4C4C4;}

